<head>
<META http-equiv="content-type" content="text/html;charset=iso-8859-1">
<title>Bookmark file</title>
</head>
     You can delete links using the remove bookmark command.  It is usually
     the 'R' key but may have been remapped by you or your system
     administrator.<br>
     This file also may be edited with a standard text editor to delete
     outdated or invalid links, or to change their order.

<!--
Note: if you edit this file manually
      you should not change the format within the lines
      or add other HTML markup.
      Make sure any bookmark link is saved as a single line.
-->

<p>
<ol>
<LI><a href="gopher://sdf.org/1/">sdf.org</a>
<LI><a href="gopher://gopher.club/1/phlogs/">gopher.club</a>
<LI><a href="gopher://gopher.club/1/users/dbucklin/">Text Obsessed</a>
<LI><a href="gopher://distro.tube/">DistroTube</a>
<LI><a href="gopher://gopher.xpenguin.club/1/">XPenguin</a>
<LI><a href="gopher://circumlunar.space/0/%7emoji/phlog/20180928-unlearning.txt">moji - unlearning</a>
<LI><a href="gopher://sdf.org/1/users/tomasino/phlog/20181014-reading-plain-text">2018-10-14 - Reading plain text</a>
